@model IEnumerable<CRM.Models.User>

@{ ViewData["Title"] = "Index"; }

    <meta charset="utf-8">

<h1>Index</h1>
@if (User.FindFirst("role").Value == "Admin" || User.FindFirst("role").Value == "Moderator")
{
<p>
    <a asp-action="Create">Создать пользователя</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Дата рождения
            </th>
            <th>
                Логин
            </th>
            @if (User.FindFirst("role").Value == "Admin" || User.FindFirst("role").Value == "Moderator")
            {
            <th>
                пароль
            </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
         <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Login)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoleId)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Подробности</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
    </td>
</tr>}
    </tbody>
</table>
