@model IEnumerable<CRM.Models.Contact>

@{ ViewData["Title"] = "Index"; }

    <meta charset="utf-8">

<h1>Контакты</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Создать новый контакт</a>
</p>
<form method="get" class="form-inline">
    <input style="margin-right:3px" name="filter" class="form-control" placeholder="ФИО" value="@ViewBag.filter"/>
    <br />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Найти
    </button>
</form>
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th width="10%">
                ФИО
            </th>
            <th width="10%">
                Номер телефона
            </th>
            <th width="11%">
                Область
            </th>
            <th width="11%">
                Город

            </th>
            <th width="25%"></th>           
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.IsDeleted == 0)
            {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.FIO)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Region)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Редактировать</a>
        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Удалить</a>
    </td> 
</tr>}
        }

    </tbody>
</table>
